body {
  background-color: rgb(202, 211, 237);
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  display: block;

  align-content: space-evenly;
}

h2{
  padding-top: 50px;
  text-align: center;
}