body {
  background-color: rgb(202, 211, 237);
}

h1,
p {
  text-align: center;
}

h2 {
  padding-top: 50px;
  text-align: center;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}
footer a {
  text-align: center;
  margin: 0 10px;
  color: blueviolet;
}
